@font-face {
  font-family: Aeroport;
  src: url("Aeroport.ttf");
}

html,
body,
.table {
  font-family: Aeroport;
  height: 100%;
  font-size: 0.8rem;
}

.scheduleView {
  border-radius: 1rem;
  border: 2px solid #000000;
  transition: opacity 0.5s ease-in-out;
}

.button-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.spinner {
  position: absolute;
  stroke: black;
  width: 2rem;
  height: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
}

@media (min-width: 767px) {
  html,
  body,
  .table {
    font-size: 1rem;
  }

  body {
    background-image: url("background.png");
    background-size: 100vw 60vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .scheduleView {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}

@media (max-width: 1100px) {
  body {
    background-size: 100vw 35vh;
  }
}

@media (max-width: 360px) {
  html,
  body,
  .table {
    font-size: 0.7rem;
  }
}

h2 {
  color: black;
}

.logo {
  width: 6rem;
}

.telegram {
  width: 3rem;
}

a {
  color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.footer {
  background-color: rgb(33, 33, 33);
  padding: 1rem;
}

.top {
  margin-bottom: 2rem;
}

.selectors {
  margin-bottom: 0.5rem;
}

.selectize-control.single .selectize-input {
  /*поле для ввода*/
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  border: 2px solid #fff;
  background: #0d0d0d;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.selectize-dropdown.single {
  /*выпадающий список*/
  border: 2px solid #fff;
  background: #0d0d0d;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
}

.selectize-control.single .selectize-input.input-active,
.selectize-input {
  background: #0d0d0d;
  color: #0d0d0d;
  cursor: text;
  display: inline-block;
}

.selectize-dropdown-content .option.selected,
.selectize-dropdown-content .option:hover {
  background: #6c6c6c; /* Slightly lighter background for active/hovered options */
  color: #fff;
}

.form-select {
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  border: 2px solid #fff;
  background: #0d0d0d;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-primary-show,
.btn-secondary-hide {
  height: calc(1.5em + 1rem + 2px);
  font-size: 1.2rem;
  background-color: #0d0d0d;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  transition: opacity 0.5s ease-in-out;
}

.btn-primary-show:hover,
.btn-secondary-hide:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #000000;
  transition: color 300ms ease-in-out;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

#showButtonText {
  transition: opacity 0.2s ease-in-out;
}

/*Animated loader*/
.spinner:before {
  content: "";
}

.circular {
  animation: rotate73451 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash0175 1.5s ease-in-out infinite,
    color7123 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate73451 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash0175 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color7123 {
  100%,
  0% {
    stroke: var(--red);
  }

  66% {
    stroke: var(--green);
  }
}
